<h2>1. Introduction to IDP</h2>
In this tutorial you will learn the very basics of IDP. This includes an introduction to the lua environment and an example of a very elementary specfication.

<h3>Lua Scripting</h3>
<p><a href='javascript:loadUrl("./examples/intro/1a.idp")'><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> Try in the editor </a></p>
<p>
IDP comes with Lua scripting to glue a program together. A procedure can be declared as follows:
</p>
<pre class="idp-code">
procedure foo(arg1,arg2){
	doSomething(arg1)
	return arg2
}
</pre>
The most important builtin procedures are the inferences (they will be explained later), and the print()-method.

<h3>A simple theory</h3>
<p><a href='javascript:loadUrl("./examples/intro/1b.idp")'><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> Try in the editor </a></p>
<p>
Consider the problem of assigning values in a certain range to constants (C1 and C2) such that C1 is the smallest of that range and C2 the double of C1. This problem can be declaratively specified in IDP.
</p>
<p>
Firstly we need to declare what concepts we will talk about. In this case 2 numbers (C1 and C2), and their range (let us call it "someIntegers"). This is done in a vocabulary we call V as follows:
</p>
<pre class="idp-code">
vocabulary V{
	type someIntegers isa int
	C1 : someIntegers
	C2 : someIntegers
}
</pre>

<p>
After this, we need to declare the knowledge we have about these numbers. We know that C1 is the smallest number in his type. This can be expressed by using the builtin MIN-function, which we can annotate with the type of which we want te minimum. For the other constraint (C2 is the double of C2), the standard mathematical arithmetical functions (plus, minus, multiplication, division, power and modulo) can be used in IDP specifications.
Now we can write these constraints down in a theory T, which uses the concepts defined in vocabulary V. Every constraint in IDP ends with a dot.
</p>
<pre class="idp-code">
theory T: V{
	C1 = MIN.
	C1 + C1 = C2.
}
</pre>
<p>
In order to solve a concrete problem, we specify an instance (a structure). A structure contains information about the actual value of the concepts in a vocabulary. At least the types should be fully interpreted in any structure.
</p>
<pre class="idp-code">
structure S:V{
	someIntegers = {1..5}
}
</pre>

<p>
Now we have declaratively specified the information. We are searching for an assignment to certain symbols that expands the structure S and satisfies T. This can be done by the modelexpand-inference, it returns a list of models. The simplest way to print them is by using printmodels()
</p>
<pre class="idp-code">
procedure main(){
	printmodels(modelexpand(T,S))
}
</pre>
