<h2>10. More Applications</h2>
This chapter consists of a set of applications and standard examples that were made with IDP.

<h3>N-Queens</h3>
<p><a href='javascript:loadUrl("./examples/basic/5-Nqueens.idp")'><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> Try in the editor </a></p>
<p>The N-Queens problem consists of placing n queens on a n x n board in such a way that no queen can attack another, following the rules of chess. The vocabulary V consists of a two types (diag and index), one constant (n), one predicate (queen), and two functions (diag1 and diag2). The structure S specifies the size of the n x n board and the diag and index types that follow from this. The predicate queen(index, index) represents where the queens are placed on the board. The function diag1(index, index) : diag maps each square on the board to its upper-left-to-lower-right diagonal. The function diag2(index, index) : diag is defined similarly for the lower-left-to-upper-right diagonals.</p>
<pre class="idp-code">
vocabulary V {
    type index isa int
    queen(index, index)
    n : index
    type diag isa int
    diag1(index, index) : diag
    diag2(index, index) : diag
}

structure S : V {
    index = {1..4}
    diag = {1..7}
    n = 4
}
</pre><p>The definitions for diag1 and diag2 are placed in theory T and are given between "{" and "}". They are a special kind of definition: all symbols that they depend (in this case: the constant n and the functions + and -) on are completely known. This means that the definition can be calculated, which is more efficient. The theory also specififies the constraints expressing that the placed queens cannot attack each other. The first constraint expresses that there is exactly one queen on each column of the board: for every x of type index (!x[index]), there is exactly one y of type index (?=1y[index]) for which queen(x, y) holds. The quantified variables are typed in this constraint. This typing is optional and has been omitted in the other constraints as IDP can derive types from the information in the vocabulary. The second constraint expresses that there is exactly one queen on each row of the board. The third constraint expresses that for each diagonal (!d) there are less than two elements in the set {x y : queen(x, y) &amp; diag1(x, y) = d}; the set of elements (x, y) such that they satisfy queen(x, y) &amp; diag1(x, y) = d. This ensures that there is no more than one queen on each upper-left-to-lower-right diagonal. The fourth constraint expresses the same for the lower-left-to-upper-right diagonals.</p>
<pre class="idp-code">
theory T : V {
    { diag1(x, y) = x - y + n. }
    { diag2(x, y) = x + y - 1. }
    !x[index] : ?=1y[index] : queen(x, y).                  <span class="idp-comment">//(1)</span>
    !y : ?=1x : queen(x, y).                                <span class="idp-comment">//(2)</span>
    !d : #{x y : queen(x, y) &amp; diag1(x, y) = d} &lt; 2.        <span class="idp-comment">//(3)</span>
    !d : #{x y : queen(x, y) &amp; diag2(x, y) = d} &lt; 2.        <span class="idp-comment">//(4)</span>
}
</pre><p>The Lua procedure can then be used to retrieve all models and print them. Here we also introduce the calculatedefinitions method that calculates all definitions that are able to be calculated beforehand, such as the definitions for diag1/2 and diag2/2 in this example. These two definitions can be calculated in advance because they each depend on no other predicate that cannot be calculated in advance. We also introduce the option to use XSB to do this calculation. Note that by default, this option is set to false.</p>


<h3>Concrete Delivery</h3>
<p><a href='javascript:loadUrl("./examples/basic/10-Concrete_Delivery.idp")'><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> Try in the editor </a></p>
<p>This project was made to test whether IDP was able to model a typical OR problem reasonably well. The problem at hand was the concrete delivery problem, which consisted of finding a configuration of truck trips that delivered concrete to customers during a restricted timeframe. More information can be found in the following <a href="http://dtai.cs.kuleuven.be/krr/files/examples/concrete_delivery.zip">report</a>.</p>

<h3>Shortest Path 1</h3>
<p><a href='javascript:loadUrl("./examples/basic/ShortPath1.idp")'><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> Try in the editor </a></p>

<p>
In this example, we will illustrate a new form of inference. Up until now, the only operation executed on an FO(.) theory was model expansion: expanding partial models (or structures) to models. The new inference method is minimisation: find a model which is smaller er equal to all other models with respect to a certain criterion. Next to this, we will also introduce a new language construct: aggregates. Aggregates are used in IDP to express properties of sets. Using this language construct it is possible to express the cardinality of a set or the minimum, maximum, sum or product of the elements in that set. To illustrate this new inference and new language construct, we will look at two different versions of a shortest path problem.
</p><p>
The first version of the shortest path problem is the simplest version where a number of nodes (roads in this specific example) and edges (roads) are given.
</p><p>
Next to the given roads and cities, this vocabulary also contains a startnode, an endnode, paths (the roads taken by the shortest path) and a reachability relation. The theory describing this shortest path problem contains a constraint that only existing roads can be used and that the shortest path must go from Start to End. It also defines the reachability relation.
</p><p>
The input information is given using a structure and consists of a set of cities and the existing roads between them.
</p><p>
To express the minimality we will use the cardinality aggregate(#) together with the new minimization inference. We want to minimize the number of roads that are used in the shortest path. To do this, we construct the following term which represents the number of roads taken.
</p><p>
With all this information, a simple procedure will print a shortest path solution.
</p>

<h3>Shortest Path 2</h3>
<p><a href='javascript:loadUrl("./examples/basic/ShortPath2.idp")'><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> Try in the editor </a></p>

To show another example of using a set expression in IDP, we will extend our first shortest path example with weights. The roads will now have a distance, so to determine the shortest distance, the sum of all distances must be calculated instead of the number of used roads. We can do this by changing the optimization term.
