<h2>11. Actual Causality</h2>
<p><a href='javascript:loadUrl("./examples/intro/11-AC.idp")'><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> Try in the editor </a></p>
<b>This webpage is under construction: more encodings of examples will appear soon</b>

<h3>Actual Causality</h3>
<p>In this file, all definitions with respect to actual causation from our under-review paper on actual causlity can be found.  </p>
<p> All the examples are runnable by uncommenting the corresponding line in the "main" procedure, though only one at a time should be ran (due to resource limits of the online version of IDP). In case you download this file and run it locally, this limitation does not apply.</p>
<p> This example illustrates
<ul>
<li> The use of multiple vocabularies: one containing symbols for computations, one only the relevant symbols for printing and one with an auxiliary symbol for querying</li>
<li> The use of queries to get useful information out of models found
</li>
<li> Some more complex procedures to process output of model expansion calls </li>
</ul>
</p>

