<h3>Propagation &amp; Predicate Table Access</h3>
<p><a href='javascript:loadUrl("./examples/basic/12-Propagate-Tables.idp")'><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> Try in the editor </a></p>
<p>In this example, we show how propagation inference works and how it is possible to access predicate and function tables from within the lua interface to IDP.</p>
<p>First, let us create a vocabulary V, with a constant and a predicate:</p>
<pre class="idp-code">
vocabulary V{
    type T isa int
    C:T // C is some constant
    P(T) // P is some predicate
}
</pre><p>Next, we constrain the constant C and predicate P in certain ways.</p>
<pre class="idp-code">
theory T:V{
    //This theory puts some constraints on P and C
    !x: P(x ) => C>x.
    C<4.
    ~P(2) => ~P(4).
}
</pre><p>We continue by providing a structure describing the basic facts. We define the range of the integer type T, and say that predicate P is certainly true for value 1 and certainly false for value 2. We use the &lt;ct&gt; and &lt;cf&gt; accessors modify the certainly true and certainly false tables of P.</p>
<pre class="idp-code">
structure S:V{
    T={1..5}

    //P(1) is Certainly True (ct)
    P<ct> = {1}
    //P(2) is Certainly False (ct)
    P<cf> = {2}
}
</pre><h4>Propagation</h4>
<p>We now disable cp support and depend purely on propagation to infer new knowledge from the theory. We offer three types of propagation:</p>
<dl>
<dt>propagate(T,S)</dt>
<dd>provides cheap symbolic propagation. This is far from complete, i.e. not all possible refinements of the interpretation are inferred.</dd>
<dt>groundpropagate(T,S)</dt>
<dd>provides slightly more complete propagation, but is a more expensive inference.</dd>
<dt>optimalpropagate(T,S)</dt>
<dd>provides complete propagation. This refines the input interpretation to the most precise interpretation possible. This is a very expensive inference since it requires search.</dd>
</ol>
<pre class="idp-code">
stdoptions.cpsupport=false

propagated = propagate(T,S)
groundpropagated = groundpropagate(T,S)
optimalpropagated = optimalpropagate(T,S)

print("Result of symbolic propagation:")
print(propagated)

print("Result of ground propagation:")
print(groundpropagated)

print("Result of optimal propagation:")
print(optimalpropagated)
</pre><h4>Accessing Predicate Tables</h4>
<p>When we have a model for a certain theory T and structure S, we might be interested in only certain parts of the model. For example, the values for which a predicate P is might be false, or those for which C is possibly true.</p>
<ul>
<li>We can access a predicate P by indexing it in the structure (where we must specify the vocabulary that defines P) 'groundpropagated[V::P]', and can then access the possibly false table using pf.</li>
<li>
We can access a function C in much the same way as we did for the predicate P, but before accessing the possibly true table, we must access the predicate representation of the function C using the 'graph' keyword.
</li>
</ul>
<pre class="idp-code">
print("P(ossibly) F(alse) table of P:")
print(groundpropagated[V::P].pf)

print("P(ossibly) T(rue) table of C:")
print(optimalpropagated[V::C].graph.pt)
</pre>
