<h2>4. Language Features</h2>
Up till now, we only used first order logic and arithmetic in our theories. In this tutorial we will explore the more advanced language constructs which are available, aggregates and inductive definitions in particular.

<h3>Aggregates</h3>
<p>IDP allows a variety of aggregates. First, we define a predicate P with 1 argument of type num, which is an integer.<br />
We also define a type sumnum, which is an integer as well, but allows larger values in its eventual range.</p>
<p>Next, we introduce constants for the results of each of the aggregate expressions that IDP allows:</p>
<ul>
<li>Pnr for cardinality,</li>
<li>Psum for the sum aggregate,</li>
<li>Pmin for the minimal element,</li>
<li>Pmax for the maximal element, and</li>
<li>Pprod for the product aggregate.</li>
</ul>
<p>We introduce one last constant, Pnest, to show how IDP supports arbitrary nesting of aggregates.</p>
<p><a href='javascript:loadUrl("./examples/intro/4a.idp")'><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> Try in the editor </a></p>


<h3>Inductive Definitions</h3>
<p>In this example we show the use of inductive definitions by means of the reachability relation. The reachability relation on a graph is defined in terms of the graph as follows:</p>
<pre class="idp-code">
{
    <span class="idp-comment">//If there is an Edge from x to y, then y is reachable from x</span>
    ! x y: Reachable(x,y) &lt;- Edge(x,y).
    <span class="idp-comment">//If there is some point between x and y and z is reachable from x, and y from z, then y is reachable from x.</span>
    ! x y: Reachable(x,y) &lt;- ? z: Reachable(x,z) &amp; Reachable(z,y).
}
</pre><p>This definition can be used for various purposes, for example for finding a graph that satisfies certain properties.</p>
<p>In case you want to find all models of the theory expanding a partial interpretation S, you can do this as in the previous example</p>
<p><a href='javascript:loadUrl("./examples/intro/4b.idp")'><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> Try in the editor </a></p>
