<h2>5. Constructors</h2>

<h3>Naive Game of Life</h3>
<p>
In this example, we would like to find a "still life" (Still life in cellular automata) for a certain grid, which contains a maximal amount of living cells. 
</p><p>
With the type num the possible row- and column indexes of our square grid of cells, lives a predicate stating which cells are alive, type neighborAmount the number of neighbours with a certain property a cell might have (should always range between 0 and 8), and nbOfLiveNeighbors a function to map each cell to the number of living neighbours. Note that we declare both types to be natural numbers, since we want to be able to use them in mathematical functions. 
</p><p>
The more advanced constructs in this theory are the function abs(int) which maps an integer to its absolute value, and the counting aggregate, which counts the number of times a certain propositional formula is true for a set of free variables. Noteworthy is also the "=<" symbol, which denotes the arithmetical "less than or equal to". Many a starting IDP programmer mistakenly writes this as "<=", which actually is the reverse implication (e.g. a=>b is equivalent to b<=a). 
</p><p>
Here num ranges from 1 to 6, so we're working in a 6 by 6 grid of cells. neighborAmount is correctly interpreted as ranging from 0 neighbours to 8. Now, as stated earlier, we want to obtain the still life which has a maximal amount of living cells. As such, our minimization criterion becomes the amount of cells that are not alive. IDP takes this criterion as a term with as type nat, int or float.
</p><p>
The only thing left is to use the lua construct "minimize" with arguments a theory, structure and minimization term to obtain the model with the most living cells.
</p><p>
For some added insight, we set the verbosity of the solver to 1, so that a new user can see the actual minimization occur. Look for the line "Current optimal value", which prints the objective value of the best model found so far. Lines like "| 377 | 1496 1276 3060 | 5107 521 22 |" represent the state of the solver searching for a new model, with the first value being the number of conflicts so far, the second the number of variables during search, and the third the number of clauses originating from the FO(.) theory.
</p>
<p><a href='javascript:loadUrl("./examples/intro/5a.idp")'><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> Try in the editor </a></p>


<h3>Game Of Life with Constructors</h3>
<p>
In the previous subsection, the interpretation of the type neighbourAmounts is always the same for each instance of the problem: even if the size of the grid is 100x100, each cell can only have 0..8 neighbours with a certain property. 
</p>
<ul>
<li>It would be nice to state this information outside the structure block, which typically captures instance-specific information. 
</li><li>
Also, many constraints range over cells, which are currently represented by a pair of xy-coordinates. Being able to quantify over these cells without referring to their coordinates would be more elegant. 
</li><li>
Thirdly, sometimes you want to be able to refer to specific domain elements without the hassle of defining and interpreting constants manually, for instance when there are too many. 
</li>
</ul>
<p>
These three use cases are covered by constructed types. A constructed type is a type for which the interpretation is declared in the vocabulary by use of the key words "constructed from". It is constructed from a set of constructor functions, which are declared simultaneously with the constructed type. Each constructor function maps every domain element tuple in its domain to a unique domain element in the interpretation of the constructed type. As a result, the interpretation of the constructed type is the union of the images of its constructor functions. 
</p>
<p>
Note that constructor functions can be used in a theory, which is particularly useful if a constructor function is a constant, for which its interpretation will be one unique domain element. Also, it is possible to interpret types in a vocabulary, meaning that the interpretation will be fixed and independent of any structure. This is done by syntax similar to interpreting types in structures. The following adapted still-life specification one constructed type, and one type interpreted in the vocabulary. As a result, the modelling is more elegant.
</p>
<p><a href='javascript:loadUrl("./examples/intro/5b.idp")'><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> Try in the editor </a></p>


<h3>The Einstein Puzzle</h3>
<p>Another example using constructed types, the well-known Einstein Puzzle, or also known as the <a href="http://en.wikipedia.org/wiki/Zebra_Puzzle">Zebra Puzzle</a>.</p>
<p><a href='javascript:loadUrl("./examples/intro/5c.idp")'><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> Try in the editor </a></p>

