<h2>Problem Library</h2>

In this chapter you can find some implementations of standard problems for CP/ASP/... solvers.

<p><a href='javascript:loadUrl("./examples/intro/4a.idp")'><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>Aggregates</a></p>
<p><a href='javascript:loadUrl("./examples/intro/8a.idp")'><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>Block World</a></p>
<p><a href='javascript:loadUrl("./examples/basic/10-Concrete_Delivery.idp")'><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>Concrete Delivery</a></p>
<p><a href='javascript:loadUrl("./examples/scienceweek/roster/roster.idp")'><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>Course Scheduling (visualized)</a></p>
<p><a href='javascript:loadUrl("./examples/intro/5c.idp")'><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>Einstein Puzzle</a></p>
<p><a href='javascript:loadUrl("./examples/flood.idp")'><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>Flood Puzzle</a></p>
<p><a href='javascript:loadUrl("./examples/intro/5a.idp")'><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>Game of Life (no constructors)</a></p>
<p><a href='javascript:loadUrl("./examples/intro/5b.idp")'><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>Game of Life (with constructors)</a></p>
<p><a href='javascript:loadUrl("./examples/intro/2a.idp")'><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>Graph Coloring </a></p>
<p><a href='javascript:loadUrl("./examples/scienceweek/graphColoring/coloring.idp")'><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>Graph Coloring (visualized) </a></p>
<p><a href='javascript:loadUrl("./examples/intro/4b.idp")'><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>Inductive Definitions</a></p>
<p><a href='javascript:loadUrl("./examples/basic/5-Nqueens.idp")'><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>N-Queens Problem </a></p>
<p><a href='javascript:loadUrl("./examples/scienceweek/nqueens/nqueens.idp")'><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>N-Queens Problem (visualized)</a></p>
<p><a href='javascript:loadUrl("./examples/intro/7f.idp")'><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>Pigeon Hole</a></p>
<p><a href='javascript:loadUrl("./examples/pacman.idp")'><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>Pacman (visualized)</a></p>
<p><a href='javascript:loadUrl("./examples/basic/ShortPath2.idp")'><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>Shortest Path </a></p>
<p><a href='javascript:loadUrl("./examples/scienceweek/sudoku/sudoku.idp")'><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>Sudoku (visualized)</a></p>
<p><a href='javascript:loadUrl("./examples/scienceweek/hanoi/hanoi.idp")'><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>Towers of Hanoi (visualized)</a></p>
