.codemirror-ui-button-frame{
	border-top:1px solid #ccc;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	background:#eee;
	position:relative;
}

.codemirror-ui-button-frame input,.codemirror-ui-button-frame label{
	font-size:0.6em;
}

.codemirror-ui-button-frame label input{
	margin:0px 2px;
	vertical-align:middle;
}
.codemirror-ui-button-frame label{
	padding:0px;
    margin:2px 5px;
	margin-top:0px;
	display:inline-block;		
}

input.codemirror-ui-checkbox{
	
}

.codemirror-ui-button{
	display:block;
	float:left;
	padding:3px;
	line-height:0;
	margin:1px;
	margin-right:0px;
}

.codemirror-ui-button:hover{
	padding:2px;
	border:1px solid #ccc;
}

.codemirror-ui-button img{
	line-height:0;
}

.codemirror-ui-button.inactive{
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	opacity: .5;
}

.codemirror-ui-wrap{
	float:right;
}

.codemirror-find-replace{
	border:1px solid black;
	background : #ddd;
	padding:10px;
	position:absolute;
	width:300px;
	top:0%;
	left:50%;
	margin-left:-150px;
}

iframe{
	/*border:1px solid green !important;*/
}

.codemirror-ui-find-bar{
	text-align:center;	
}

.codemirror-ui-popup-find-wrap{
	position:relative;
	bottom:100%;
	left:-1px;
	border:1px solid #ccc;
	background:#eee;
	padding:2px 5px;
	border-bottom:0px;
	margin-bottom:-1px;
	display:none;
}

.codemirror-ui-popup-find-wrap.active{
	display:block;
}


.codemirror-ui-popup-find-wrap .codemirror-ui-button{
	float:left;	
} 

.codemirror-ui-popup-find-wrap .codemirror-ui-find-bar{
	float:left;
}

.CodeMirror{
	border:1px solid #ccc;
	background:white;
}

/*
 * This lets us make sure that the fancy-tab-gutter will always enclose the tabs inside it.
 * We're namspcing it since many frameworks include a .clearfix rule of somesort.
 */

.codemirror-ui-clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content:"\0020";
     clear: both;
     height: 0;
     }
.codemirror-ui-clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .codemirror-ui-clearfix { height: 1%; }
.codemirror-ui-clearfix { display: block; }
/* close commented backslash hack */
